@charset "UTF-8";

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(70, 116, 117);
}
h1#título-principal {
    color: black;
    text-align: center;
    background-color: darkslategrey;
}
.basico {
    color: rgb(96, 141, 141);
}
.intermediario {
    color: rgb(84, 99, 70);
}
.avançado {
    color: brown;
}